* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: #121212;
    color: #F1F1F1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.home-header{
    text-align: center;
    margin-bottom: 50px;
}
.character-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid white;
    margin: 0px auto;
    padding: 0px;
}
.sidebar-button{
    z-index: 100;
    position: absolute;
    top: 10px;
    left: 70px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.char-h1{
    height: 20vh;
    width: 100%;
    text-align: center;
    line-height: 20vh;
    font-size: xxx-large;
    border:1px solid white;
    cursor: pointer;
}
.character-layout{
    display: flex;
    flex-direction: row;

}
.character-info{
    height: 70vh;
    width: 40%;
    text-align: center;
    line-height: 10vh;
    border:1px solid white;
    font-size: xxx-large;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.character-labels{
    display:flex;
    flex-direction: row;
    height: 5%;
}
.character-name{
    text-transform: capitalize;
}
.character-labels label{
    display: flex;
    flex: 1;
    border:1px solid white;
    height: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}
.user-notes{
    padding: .5em .5em;
}
#user-notes{
    resize: none;
    background-color: #121212;
    color: #F1F1F1;
    border: none;
    width: 100%;
    margin: 0%;
    height: 60vh;
    padding: 0%;
    outline: 0;
}
.character-notes{
    width: 60%;
    border:1px solid white;
    height: 70vh;
}
.character-picture{
    height: 60vh;
    border: 1px white solid;
    width: 100%
}
.character-picture img{
    height: 60vh;
    border: 1px white solid;
    width: 100%;
    object-fit: cover;
} 
.home-h1{
    margin-top: 100px;
    margin-bottom: 50px;
}

.chars label{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
label img{
    object-fit: cover;
    border-radius: 5px;
    max-width: 100%;
    width: 140px;
    height: 12vh;
    border: 1px #F1F1F1 solid;
}
.chars{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    gap: 8px;
    align-items: center;
    justify-content: center;
}
footer{
    vertical-align: bottom;
    position: fixed;
    left:10px;
    bottom:10px;
    width: 
}
footer a{
    color:#F1F1F1;
    text-decoration: none;
}
footer p{
    font-size: .7rem;
}
footer a:hover {
  text-decoration: underline;
}

.hidden{
    display: none;
}
